@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');

body {
  font-family: 'Open Sans', sans-serif;
}

a:focus,
img:focus {
  outline: 0;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

blockquote {
  border-left: 8px solid $red2!important;
  background: $white2!important;
  margin-top: 15px!important;
  padding: 20px 25px!important;

  h5 {
    font-weight: 500;
  }

  p{
    margin-bottom: 0;
  }

}

#et_builder_outer_content .container {
  margin-left: auto;
  margin-right: auto;
}

.section_pad_70 {
  padding-top: 70px!important;
  padding-bottom: 70px!important;
}

.heading_wrapper{
  border-bottom: 1px solid $white3!important;
}

.heading_with_line {
  font-weight: bold!important;
  margin-bottom: 13px!important;
  padding:0!important;
  display: inline-block;
  
  &:after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background: $red2;
    position: relative;
    top:14px;
  }
}

.et_divi_builder #et_builder_outer_content .et_pb_row {
   max-width: 1200px;
}

.et_divi_builder #et_builder_outer_content div[class*="col-"]{
  padding-left: 15px;
  padding-right: 15px;
}

.et_divi_builder #et_builder_outer_content .et_pb_module p {
  color: $black3!important;
}

.et_divi_builder #et_builder_outer_content .et_pb_module a {
  color: $red2;
}

.et_pb_button{

  &:after {
    display: none!important;
  }

}

img.mfp-img {
  padding: 0;
  margin: 40px auto;
  background: white;
}
