// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$white: #fff;
$white2: #e9edf3;
$white3: #d2d7df;
$gray1: #babfc7;
$gray2: #c8cdd5;
$red1: #cf0a2e;
$red2: #da1035;
$red3: #e44864;
$red4: #fff3f5;
$black1: #353535;
$black2: #484848;
$black3: #4c4d50;

