.footer {
  padding-top: 65px;
  background: $black1;
  color: $white2;
  font-size: 14px;

  img {
    margin-bottom: 15px;
  }

  h5 {
    font-weight: 700;
    border-bottom: 2px solid $red2;
    display: inline-block;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-bottom: 35px;
  }


  .fakturacni_udaje {

    p{
      padding-left: 30px;
      position: relative;
    }

    p:first-of-type{

      &:before {
        content: '';
        width:21px;
        height:21px;
        display: inline-block;
        background: url(../images/ico_adresa.png);
        position: absolute;
        left:0;
      }

    }

    p:last-child{

      &:before {
        content: '';
        width:21px;
        height:21px;
        display: inline-block;
        background: url(../images/ico_person.png);
        position: absolute;
        left:0;
      }

    }

  }

  .kontakt_footer {

    p{
      padding-left: 30px;
      position: relative;
    }
    
    a {
      display: block;
      color: $white2;
    }

    p:first-of-type{

      &:before {
        content: '';
        width:21px;
        height:21px;
        display: inline-block;
        background: url(../images/ico_tel.png);
        position: absolute;
        left:0;
      }

    }

    p:last-child{

      &:before {
        content: '';
        width:21px;
        height:21px;
        display: inline-block;
        background: url(../images/ico_mail.png);
        position: absolute;
        left:0;
      }

    }

  }

  .subfooter {
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 1px solid $black2;

    p:first-of-type {
      margin-bottom: 3px;
    }

    .small-text {
      font-size: 12px;

      a {
        color: #fff;
      }
    }
  }

}