header {

  .top_header {
    background: $red2;


    .top_header_menu,
    .top_header_social{
      display: inline-block;
    }

    .top_header_social {
      float: right;
      position: relative;
      top: 9px;

      a {
        color: $red4;
        font-size: 20px;
        transition: all .5s;

        &:after {
          content: '';
          width:1px;
          height: 18px;
          display: inline-block;
          background: $red3;
          margin-left: 18px;
          margin-right: 18px;
          position: relative;
          top:2px;
        }

        &:last-child:after {
          display: none;
        }

        &:hover {
          text-decoration: none;
          opacity: .8;
        }

      }

    }

    ul {
      list-style-type: none;
      padding:0;
      margin:0;
      font-size: 0;

      li {
        display: inline-block;

        a {
          color: $red4;
          font-size: 14px;
          padding-top: 14px;
          padding-bottom: 14px;
          display: inline-block;
        }

        &:after {
          content: '';
          width:1px;
          height: 14px;
          display: inline-block;
          background: $red3;
          margin-left: 18px;
          margin-right: 18px;
          position: relative;
          top:2px;
        }

        &:last-child:after {
          display: none;
        }


      }

    }

  }

  .navbar-brand {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .navbar-nav {

    .menu-item {
      border-bottom: 3px solid transparent;
      margin-right: 38px;
      transition: all .5s;

      &.current-menu-item,
      &:hover {
        border-bottom: 3px solid $red2;
      }

      &:last-child{
        margin-right: 0;
      }

    }

    a {
      display: block;
      color: $black1;
      font-weight: 600;
      padding: .5em;

      &:hover {
        text-decoration: none;
      }

    }

    .dropdown-menu {

      li {
        border:0;

        &.current-menu-item,
        &:hover {
          border-bottom: 0;

          a {
            color: $red2;
          }

        }
      }


    }


  }


}