.home_slider_holder {
  .carousel-item {
    height: 545px;
    align-items: center;
    background-size: cover !important;

    .carousel-caption {
      max-width: 900px;
      position: absolute;
      right: 0;
      bottom: inherit;
      left: 0;
      margin-left: auto;
      margin-right: auto;

      h2 {
        display: inline-block;
        background: $red2;
        margin-bottom: 30px;
        font-size: 42px;
        color: $white;
        font-weight: bold;
        padding: 30px 35px;
      }

      p {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }

  .carousel-indicators{
    margin-left: 0;
    margin-right: 0;
    bottom:-16px;

    li {
      border-width: 3px 1.5px 3px 1.5px;
      border-style: solid;
      border-color: #d0d4da;
      height: 16px;
      margin-right: inherit;
      margin-left: inherit;
      background: #e9edf3;
      max-width: inherit;

      &.active {
        background-color: #da1035;
      }

    }

  }

  .slider_overlay {
    background: rgba(0,0,0,.5);
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
  }


}

.archiv.akce_holder .akce_item {
  margin: 15px 0;
}

.et_divi_builder #et_builder_outer_content .akce_holder,
.akce_holder {
  background: #e9edf3;

  &.archiv {
    background: #fff;
    padding-bottom: 50px;

    .akce_item{
      box-shadow: 0 0 12px 3px rgba(0,0,0,.15);
    }

  }


  .akce_btn_all {
    display: block;
    background: $gray2;
    font-size: 14px;
    font-weight: 600;
    color: $white;
    padding:9px 18px;
    position: absolute;
    top:0;
    right:15px;
    border-radius: 4px;
  }

  .akce_item_holder {
    padding-top: 50px;


    .akce_item {
      background: $white;
      padding: 35px;

      h4{
        font-weight: bold;
        color: $black1;
        margin-bottom: 25px;
      }

      .akce_date {
        font-size: 14px;
        color: $black3;
        margin-bottom: 15px;

        &:before {
          content: '';
          width:16px;
          height:16px;
          display: inline-block;
          background: url(../images/ico_date.png) no-repeat;
          margin-right: 10px;
          position: relative;
          top:2px;
        }

      }

      p {
        color: $black3;
      }

      .akce_item_btn {
        display: inline-block;
        background: $red2;
        color: $white;
        font-weight: 600;
        margin-top: 10px;
        padding: 11px 24px;
        border-radius: 5px;
        text-transform: uppercase;
      }

    }

  }


}

.et_divi_builder #et_builder_outer_content .home_produkty_items_holder,
.home_produkty_items_holder{
  padding-top: 50px;

  ul {
    padding:0;
    margin:0;

    li{
      list-style-type: none;

      &:before {
        content: '';
        width: 16px;
        height: 38px;
        display: inline-block;
        background: $red2;
        margin-right: 15px;
      }

      a {
        display: inline-block;
        width: calc(100% - 32px);
        font-size: 16px;
        font-weight: 700;
        color: #da1035;
        border: 2px solid #da1035;
        padding: 5px 25px 5px 20px;
        vertical-align: top;
        line-height: inherit;
        transition: all .4s;

        &:hover {
          background: $red2;
          color:$white;
        }

      }

    }

  }

  .home_produkty_items_foto div{
    width:100%;
    height: 440px;
  }


}

.et_divi_builder #et_builder_outer_content .reference_slider_holder,
.reference_slider_holder{
  background: $red2;

  .reference_slider {
    position: relative;
  }

  .owl-carousel {
    max-width: 1200px;
    margin: 0 auto;
  }

  .reference_slider_item,
  .reference_slider_foto {
    width:300px;
    height:300px;
    position: relative;
  }

  .reference_slider_item {

    a {
      position: absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      opacity:0;
      transition: all .4s;
      text-align: center;
      text-decoration: none;

      span {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
        font-size: 17px;
        line-height: 20px;
        font-weight: 600;
        padding-left: 30px;
        padding-right: 30px;

        &:before {
          content: '';
          width: 36px;
          height: 36px;
          display: block;
          margin: 0 auto 10px;
          background: url(../images/ico_lupa.png) no-repeat;
        }

      }

    }


    &:hover {

      a {
        opacity:1;
        background: rgba(218,16,53,.8);
      }


    }


  }


  .owl_custom_navigation {
    width:100%;
    max-width: 1254px;
    margin: -25px auto 0;
    position: absolute;
    top: 50%;
    left:0;
    right:0;
    transform: translateY(-50%);
    z-index: 2;

    div {
      width: 55px;
      height: 55px;
      background: url(../images/ico_arrow.png);
      position: absolute;
      cursor: pointer;
    }

    .reference_prev {
      left: 0;
    }

    .reference_next {
      right: 0;
      transform: rotate(180deg);
    }

  }


}


.proc_toptherm_holder {

  .et_pb_column_1_4 {

    &:after {
      content: '';
    }

  }

}


.page_header {
  background: $white2;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: inset 0px 11px 8px -10px #c5c8cd;
  border-bottom: 2px solid #d0d4da;

  .breadcrumb {
    display: inline-block;
    background: transparent;
    margin-bottom: 0;
    padding: 5px 0 0;

    .breadcrumb-item{

      a {
        color: $red2;
        text-decoration: underline;
      }

      &.active {
        color: #636c72;
      }

    }

  }

}

.kategory_item_holder {
  font-size: 0;

  a {

    &:hover {
      text-decoration: none;
    }

  }

  img {
    padding: 10px;
    border: 1px solid #d2d6dc;
    margin-right: 10px;
  }

  .kat_number {
    display: inline-block;
    background: $white;
    width: 55px;
    height: 55px;
    border: 2px solid $red2;
    color: $red2;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    vertical-align: top;
    position: relative;
    z-index: 2;
  }


  .kat_content {
    display: inline-block;
    width: calc(100% - 55px);
    padding-left: 53px;
    padding-bottom: 70px;
    position: relative;
    left: -27px;
    vertical-align: top;
    font-size: 16px;
    border-left: 2px solid $red2;

    h3 {
      font-weight: bold;
      color: $red2;
      margin-bottom: 30px;
      margin-top: 10px;

      a {
        color: $red2;
      }

    }

    p {
      color: $black3;
    }

  }


  &:last-child {
    .kat_content {
      border-left: 0;
    }
  }

}

.katalog_nav {
  list-style-type: none;
  padding:0;
  margin:0;

  li {
    border-bottom: 2px solid #d0d4da;

    a {
      display: block;
      background: #e9edf3;
      color: #353535;
      font-size: 14px;
      font-weight: 600;
      padding: 12px 23px;
      transition: all .4s;

      &:hover {
        background: $red2;
        color: $white;
        text-decoration: none;
      }

    }

    &.active {

      a {
        background: $red2;
        color: $white;
      }

    }

    &:last-child {

      a {
        border-bottom: 0;
      }

    }

  }

}

.detail_produkt_items_holder {

  .produkt_img {
    width: 89px;
    height: 97px;
    display: inline-block;
    vertical-align: middle;
  }

  .card {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    margin-top: -1px;

    .card-header {
      padding: 20px 15px;
      margin-bottom: 0;
      background-color: transparent;
      font-size: 0;
      border-bottom: 0;
    }

    h5 {
      display: inline-block;
      width: calc(100% - 133px);
      vertical-align: middle;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 18px;
      line-height: 23px;

      a {
        color: $black;
      }

    }

    &.card-active {
      transition: all .4s;
      background: $red4;
    }

  }

  .produkt_btn {
    display: inline-block;
    width:37px;
    height:37px;
    background: url(../images/ico_arrow_produkt.png);
    transition: all .4s;
    vertical-align: middle;

    &[aria-expanded="true"] {
      transform: rotate(0);
    }

    &[aria-expanded="false"] {

      transform: rotate(180deg);
    }

  }

  .card-block {
    font-size: 14px;
    padding-left: 135px;
    padding-top: 0;

    a {
      color: $black;

      &:hover {
        text-decoration: none;
      }

    }

    img {
      padding: 10px;
      border: 1px solid #d2d6dc;
      margin-right: 10px;
    }

  }

  table {
    width:100%;
    margin-top: 25px;
    margin-bottom: 25px;

    thead{
      background: $red2;
      color: $white;
      border:1px solid $red2;
    }

    td,
    th {
      padding: 10px;
    }

    th {
      font-weight: 500;
    }

    tbody {
      border-left: 1px solid #d0d4da;
      border-bottom: 1px solid #d0d4da;
      border-right: 1px solid #d0d4da;

      td {
        border-right: 1px solid #d0d4da;
        border-bottom: 1px solid #d0d4da;
      }

    }

  }


}

.gal_hlder {
  margin-top: 15px;
  img {
    max-height: 115px;
  }

}

.breadcrumb_holder {
  text-align: left;
}

.single-reference article,
.single-post article {
  padding-top: 30px;
  padding-bottom: 30px;
}

.single-reference {
  .gal_hlder {
    a {
      display: inline-block;

      img {
        max-height: 200px;
      }
    }
  }
}

.blog_pagi {
  text-align: center;
  padding-top: 30px;

  .pagination {
    display: block;
    margin: 0 auto;
  }

  .nav-links {
    font-size: 0;
    font-weight: bold;

    & > * {
      border-bottom: 2px solid transparent;
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 18px;
      transition: all .4s;
      color: #000;

      &:hover,
      &:focus {
        border-bottom: 2px solid $red2;
        text-decoration: none;
      }




    }

    .current {
      border-bottom: 2px solid $red2;
    }

  }

}

.archiv_ref_img {
  width:100%;
  height:200px;
  margin-bottom: 20px;
}

header .updated {
  display: block;
  margin-bottom: 20px;

  &:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/ico_date.png) no-repeat;
    margin-right: 10px;
    position: relative;
    top: 2px;
  }

}

.cat_popis {
  margin-bottom: 40px;
}

.table-wrap {
  table {
    min-width: 650px;
  }
}

.akce_bg {
  display: block!important;
  min-height: 190px;
  margin-bottom: 10px!important;
}
