@media (min-width: 1230px) {

  .container {
    width: 1230px;
    max-width: 100%;
  }

}

@media (max-width: 1229px){

  .et_divi_builder #et_builder_outer_content .home_produkty_items_holder ul li, .home_produkty_items_holder ul li{
    position: relative;
    margin-bottom: 5px;

    a {
      font-size: 18px;
      margin-left: 25px;
    }

  }

  .et_divi_builder #et_builder_outer_content .home_produkty_items_holder ul li:before, .home_produkty_items_holder ul li:before {
    position: absolute;
    top:0;
    bottom:0;
    height:inherit;
  }


  .navbar-inverse .navbar-toggler {
    background: $red2;
    border: 1px solid $red2;
    top: 46px;    
  }

}

@media (min-width: 1200px){
  .navbar-inverse .navbar-toggler{
    display: none;
  }

  .detail_produkt_items_holder table tbody tr:first-child td:first-child {
    width: 385px;
  }
}

@media (max-width: 1199px){
  header .navbar-nav .menu-item.current-menu-item, header .navbar-nav .menu-item:hover {
    border-bottom: 0;
  }

  header .navbar-nav .menu-item a {
    display: inline-block;
  }

  header .navbar-nav .menu-item.current-menu-item > a, header .navbar-nav .menu-item:hover > a{
    border-bottom: 3px solid #da1035;
  }

  .dropdown-menu {
    border: 0;
    padding-left: 15px;
  }

  .detail_produkt_items_holder .card-block {
    padding-left: 15px;
  }
}


@media (min-width: 992px) and (max-width: 1229px) {

  .et_divi_builder #et_builder_outer_content .reference_slider_holder .owl-carousel, .reference_slider_holder .owl-carousel {
    max-width: 900px;
  }

  .et_divi_builder #et_builder_outer_content .reference_slider_holder .owl_custom_navigation, .reference_slider_holder .owl_custom_navigation {
    max-width: 954px;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  .akce_holder .akce_item_holder .akce_item, .et_divi_builder #et_builder_outer_content .akce_holder .akce_item_holder .akce_item {
    background: #fff;
    padding: 20px 0;
  }

}


@media (max-width: 991px){
  .et_divi_builder #et_builder_outer_content .reference_slider_holder .owl-carousel, .reference_slider_holder .owl-carousel {
    max-width: 600px;
  }

  .et_divi_builder #et_builder_outer_content .reference_slider_holder .owl_custom_navigation, .reference_slider_holder .owl_custom_navigation {
    max-width: 654px;
  }

  .akce_holder .akce_item_holder .akce_item h4,
  .et_divi_builder #et_builder_outer_content .akce_holder .akce_item_holder .akce_item h4 {
    margin-bottom: 0;
  }

  .table-wrap {
    overflow: auto;

    table tbody tr:first-child td:first-child {
      width: 320px;
    }
  }

  .footer{

    div[class*="col-"]{
      margin-bottom: 20px;
    }

    img{
      display: block;
    }

  }

  header{

    .top_header {
      padding-top: 5px;
      padding-bottom: 5px;
      background: #da1035;
      text-align: center;

      .top_header_social {
        float: inherit;
        position: relative;
        top: 0;
      }

      ul li a {
        padding-top: 5px;
        padding-bottom: 5px;
      }

    }

  }


}


@media (max-width: 767px){

  .akce_holder .akce_item_holder .akce_item, .et_divi_builder #et_builder_outer_content .akce_holder .akce_item_holder .akce_item {
    margin-bottom: 20px;
  }

  .breadcrumb_holder {
    text-align: left;
  }

  .katalog_nav {
    margin-bottom: 30px;
  }

}

@media (max-width: 678px){

  .et_divi_builder #et_builder_outer_content .reference_slider_holder .owl-carousel, .reference_slider_holder .owl-carousel {
    max-width: 300px;
  }

  .et_divi_builder #et_builder_outer_content .reference_slider_holder .owl_custom_navigation, .reference_slider_holder .owl_custom_navigation {
    max-width: 354px;
  }

  .home_slider_holder .carousel-item .carousel-caption h2 {
    font-size: 28px;
  }

}


@media (max-width: 575px){

  .footer{
    div[class*="col-"]{
      margin-bottom: 50px;
    }

  }

  .navbar > .container {
    width:100%;
  }

  .navbar-inverse .navbar-toggler {
    right: 0;
  }

  .akce_holder .akce_item_holder .akce_item,
  .et_divi_builder #et_builder_outer_content .akce_holder .akce_item_holder .akce_item {
    padding: 25px 0;
  }

  .akce_item-bg {
    margin-bottom: 0!important;
  }

}